div { box-sizing: border-box; } 
.black-nav { background: #000; color: #fff; padding: 20px; } 
.list { padding-left: 20px; text-align: left; border-bottom: 1px solid gray; } 
.modal {margin-top: 20px;padding: 20px;background: #eee; text-align: left;}
